<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :number, label: 'Número de referência' %>

    <%= f.input :payment_date, label: 'Data de recebimento' %>

    <%= f.input :amount, label: 'Valor' %>

    <%= f.association :account, label: 'Conta Esperada' %>

    <%= f.association :category, label: 'Categoria' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', :class => 'btn btn-small medium-blue' %>
  </div>
<% end %>
