<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">

              <div class="section-title">Contas a receber</div>

              <div class="box bordered" style="position:relative;">
              <div class="box-header" >
                <i class="icon-signal"></i> Lista de contas a receber
              </div>

              <table class="table table-striped data-table">

                <thead>
                <tr>
                  <th>Referência</th>
                  <th>Data</th>
                  <th>Valor</th>
                  <th>Conta</th>
                  <th>Categoria</th>
                  <th>Ações</th>
                </tr>
                </thead>

                <tbody>

                  <% @invoices.each do |invoice| %>
                      <tr>
                          <td><%= invoice.number %></td>
                          <td><%= invoice.payment_date %></td>
                          <td>R$<%= invoice.amount %></td>
                          <td><%= invoice.account.name %></td>
                          <td><%= invoice.category %></td>
                          <td width="160px" >
                              <%= link_to 'Receber', invoice, :class => 'btn btn-mini medium-blue' %>
                              <%= link_to 'Detalhar', invoice, :class => 'btn btn-mini medium-blue' %>
                          </td>
                      </tr>
                <% end %>

                </tbody>
              </table>
              </div>
              <br />

              <%= link_to 'Nova conta a receber', new_invoice_path, :class => 'btn btn-mini medium-blue' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
