<div class="box bordered">
<div class="box-header">
  <i class="icon-folder-close"></i> Boleto Bancário
</div></div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Banco do Brasil</a></li>
    <li><a href="#tab2" data-toggle="tab">Itaú</a></li>
    <li><a href="#tab3" data-toggle="tab">HSBC</a></li>
    <li><a href="#tab4" data-toggle="tab">Real</a></li>
    <li><a href="#tab5" data-toggle="tab">Bradesco</a></li>
    <li><a href="#tab6" data-toggle="tab">Unibanco</a></li>
    <li><a href="#tab7" data-toggle="tab">Caixa</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="tab1">    
      <div class="padded">
        <%= render :partial => "bb" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab2">    
      <div class="padded">
        <%= render :partial => "itau" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab3">    
      <div class="padded">
        <%= render :partial => "hsbc" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab4">    
      <div class="padded">
        <%= render :partial => "real" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab5">    
      <div class="padded">
        <%= render :partial => "bradesco" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab6">    
      <div class="padded">
        <%= render :partial => "unibanco" %>
      </div>
    </div>

    <div class="tab-pane active" id="tab7">    
      <div class="padded">
        <%= render :partial => "caixa" %>
      </div>
    </div>

  </div>
</div>