<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <div class="section-title">Contas a pagar</div>

              <div class="box bordered" style="position:relative;">
              <div class="box-header" >
                <i class="icon-signal"></i> Lista de contas a pagar
              </div>

              <table class="table table-striped data-table">

                <thead>
                <tr>
                  <th>Referência</th>
                  <th>Data</th>
                  <th>Valor</th>
                  <th>Conta</th>
                  <th>Categoria</th>
                  <th>Ações</th>
                </tr>
                </thead>

                <tbody>

                  <% @bills.each do |bill| %>
                      <tr>
                          <td><%= bill.number %></td>
                          <td><%= bill.payment_date %></td>
                          <td>R$<%= bill.amount %></td>
                          <td><%= bill.account.name %></td>
                          <td><%= bill.category %></td>
                          <td width="160px" >
                              <%= link_to 'Pagar', pay_bill_path(bill), :class => 'btn btn-mini medium-blue' %>
                              <%= link_to 'Detalhar', bill, :class => 'btn btn-mini medium-blue' %>
                          </td>
                      </tr>
                <% end %>

                </tbody>
              </table>
              </div>
              <br />

              <%= link_to 'Nova conta a pagar', new_bill_path, :class => 'btn btn-mini medium-blue' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>