<div class="box bordered" style="position:relative;">
<div class="box-header" >
  <i class="icon-signal"></i> Lista de contas
</div>

<table class="table table-striped data-table">

  <thead>
  <tr>
    <th>Número da Conta</th>
    <th>Data de pagamento</th>
    <th>Método</th>
    <th>Valor</th>
    <th>Pago</th>
    <th>Conta</th>
    <th>Categoria</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>

    <% @bills.each do |bill| %>
        <tr>
            <td><%= bill.number %></td>
            <td><%= bill.payment_date %></td>
            <td><%= bill.payment_method %></td>
            <td>R$<%= bill.amount %></td>
            <td><%= bill.paid %></td>
            <td><%= bill.account %></td>
            <td><%= bill.category %></td>
            <td><%= link_to 'Detalhar', bill, :class => 'btn btn-mini medium-blue' %>
                <%= link_to 'Editar', edit_bill_path(bill), :class => 'btn btn-mini medium-blue' %>
                <%= link_to 'Excluir', bill, :method => :delete, :confirm => "Tem certeza que deseja apagar?", :class => 'btn btn-mini medium-blue' %></td>
        </tr>
  <% end %>

  </tbody>
</table>
</div>
<br />

<%= link_to 'Nova Conta', new_bill_path, :class => 'btn btn-mini medium-blue' %>