<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">

              <div class="section-title">Categoria</div>

              <p id="notice"><%= notice %></p>

              <p>
                <b>Nome:</b>
                <%= @category.name %>
              </p>



              <%= link_to 'Editar', edit_category_path(@category), :class => 'btn btn-mini medium-blue' %> 
              <%= link_to 'Excluir', @category, :method => :delete, :confirm => "Tem certeza que deseja apagar?", :class => 'btn btn-mini medium-blue' %>
              <%= link_to 'Voltar', categories_path, :class => 'btn btn-mini medium-blue' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>