<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :number, label: 'Número de referência' %>

    <%= f.input :date, label: 'Data de pagamento' %>

    <%= f.input :description, label: 'Método de pagamento' %>

    <%= f.input :amount, label: 'Valor' %>

    <%= f.association :account, label: 'Conta' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', :class => 'btn btn-small medium-blue' %>
  </div>
<% end %>

