<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">

              <div class="section-title">Transação</div>

              <p id="notice"><%= notice %></p>

              <p>
                <b>Número de referência:</b>
                <%= @transaction.number %>
              </p>

              <p>
                <b>Data:</b>
                <%= @transaction.date %>
              </p>

              <p>
                <b>Método:</b>
                <%= @transaction.description %>
              </p>

              <p>
                <b>Valor:</b>
                <%= @transaction.amount %>
              </p>

              <p>
                <b>Conta:</b>
                <%= @transaction.account.name %>
              </p>

              <%= link_to 'Editar', edit_transaction_path(@transaction), :class => 'btn btn-mini medium-blue' %> 
              <%= link_to 'Excluir', @transaction, :method => :delete, :confirm => "Tem certeza que deseja apagar?", :class => 'btn btn-mini medium-blue' %>
              <%= link_to 'Voltar', transactions_path, :class => 'btn btn-mini medium-blue' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>