<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Number:</b>
  <%= @account.number %>
</p>

<p>
  <b>Transactions:</b>
  <%= @account.transactions %>
</p>

<p>
  <b>Bill:</b>
  <%= @account.bill %>
</p>

<p>
  <b>Invoice:</b>
  <%= @account.invoice %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
